@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3.5rem;
  --hue: 250;
  /* purple hsl(250, 100%, 75%) */
  --first-color: hsl(var(--hue), 100%, 75%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);
  --body-font: "Poppins", sans-serif;
  /* 0.5rem = 8px, 1rem = 16px */
  --font-size-biggest: 2rem;
  --font-size-bigger: 1.5rem;
  --font-size-normal: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-smaller: 0.75rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1152px) {
  :root {
    --font-size-biggest: 4rem;
    --font-size-bigger: 2rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.875rem;
    --font-size-smaller: 0.813rem;
    --font-size-h1: 2.25rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--font-size-normal);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.page-section {
  padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--font-size-h1);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--font-size-small);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.page-main {
  overflow: hidden;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  width: 100%;
  background-color: var(--container-color);
}

.main-nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.main-nav__logo span {
  color: var(--first-color);
}

.main-nav__close,
.main-nav__toggle {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .main-nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    background-color: hsla(0, 0%, 10%, 0.3);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right 0.4s;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.main-nav__link {
  font-weight: var(--font-medium);
  color: var(--title-color);
  transition: color 0.4s;
}

.main-nav__link:hover {
  color: var(--first-color);
}

.main-nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.open-menu {
  right: 0;
}

.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.active-link {
  color: var(--first-color);
}

.home {
  background-color: var(--container-color);
}

.home__container {
  row-gap: 2.5rem;
  padding-top: 2rem;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__subtitle,
.home__education {
  font-size: var(--font-size-bigger);
}

.home__subtitle span,
.home__title {
  color: var(--first-color);
}

.home__title {
  font-size: var(--font-size-biggest);
  font-weight: var(--font-semi-bold);
}

.home__description {
  margin-block: 1rem 1.5rem;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.social-list__link {
  display: flex;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  background-color: var(--first-color-alt);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.social-list__link:hover {
  transform: translateY(-0.25rem);
}

.home__image {
  justify-self: center;
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

/* .home__img {
  width: 900px;
  transform: translateX(-40px);
} */

.button {
  display: inline-block;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  color: var(--title-color);
  background-color: var(--first-color);
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.25);
}

.about__container {
  row-gap: 2.5rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__image {
  justify-self: center;
}

.about__blob {
  width: 320px;
}

.about__blob path {
  stroke: var(--first-color);
}

.skills {
  background-color: var(--container-color);
}

.skills__container {
  row-gap: 3.5rem;
  padding-bottom: 2rem;
}

.skills__data {
  text-align: center;
}

.skills__description {
  margin-bottom: 2rem;
}

.skills__content,
.skills__group {
  display: grid;
}

.skills__content {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: baseline;
  column-gap: 4rem;
}

.skills__group {
  row-gap: 1rem;
}

.skills__item {
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.skills__item::marker {
  color: var(--first-color);
}

.services__container {
  row-gap: 2rem;
  padding-block: 1rem;
}

.card {
  padding: 3rem 1.25rem;
  border: 2px solid var(--container-color);
  border-radius: 1rem;
  text-align: center;
  background-color: var(--container-color);
  transition: border 0.4s;
}

.card__icon {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 4rem;
  color: var(--first-color);
}

.card__title {
  margin-bottom: 1.5rem;
  font-size: var(--font-size-h2);
}

.card:hover {
  border: 2px solid var(--first-color);
}

.projects {
  background-color: var(--container-color);
}

.projects__container {
  justify-content: center;
  row-gap: 2rem;
  padding-block: 1rem;
}

.project {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__modal {
  position: absolute;
  left: 0;
  bottom: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(var(--hue), 70%, 40%, 0.8) 120%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: bottom 0.4s;
}

.project:hover .project__modal {
  bottom: 0;
}

.project__subtitle,
.project__button {
  font-size: var(--font-size-small);
  color: var(--title-color);
}

.project__subtitle {
  display: block;
  margin-bottom: 0.25rem;
}

.project__title {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-h2);
}

.project__button {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
}

.project__button i {
  font-size: 1.25rem;
}

.contact__container {
  padding-top: 1rem;
}

.contact__form,
.contact__group {
  display: grid;
  row-gap: 1rem;
}

.contact__form {
  position: relative;
}

.contact__input {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  color: var(--title-color);
  background-color: var(--container-color);
}

.contact__input::placeholder {
  color: var(--text-color);
}

.contact__form textarea {
  height: 11rem;
  margin-bottom: 2rem;
  resize: none;
}

.contact__button {
  justify-self: center;
  cursor: pointer;
}

.contact__message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--font-size-small);
  color: var(--title-color);
}

.page-footer {
  padding-block: 3.5rem 2rem;
  background-color: var(--container-color);
}

.page-footer__container {
  row-gap: 2rem;
  text-align: center;
}

.page-footer__title {
  margin-bottom: 0.25rem;
  font-size: var(--font-size-h1);
  font-weight: var(--font-semi-bold);
}

.page-footer__title span {
  color: var(--first-color);
}

.page-footer__education {
  font-size: var(--font-size-normal);
}

.page-footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.page-footer__social-link {
  display: flex;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  background-color: var(--first-color-alt);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.page-footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.page-footer__copyright {
  margin-top: 2rem;
  font-size: var(--font-size-smaller);
}

.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  z-index: var(--z-tooltip);
  display: inline-flex;
  padding: 6px;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  color: var(--first-color);
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsla(228, 15%, 8%, 0.4);
  transition: bottom 0.4s, transform 0.4s;
}

.scroll-up:hover {
  transform: translateY(-0.25rem);
}

.scroll-show {
  bottom: 3rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(228, 8%, 35%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 45%);
}

@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }

  .skills__content {
    grid-template-columns: max-content;
    row-gap: 1rem;
  }

  .services__card {
    padding-block: 1.5rem;
  }
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .skills__container,
  .services__container,
  .projects__container,
  .contact__container {
    grid-template-columns: 360px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .main-nav__menu {
    width: 55%;
  }

  .home__container,
  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data,
  .about__data,
  .skills__data,
  :is(.about__data, .skills__data) :is(.section__subtitle, .section__title) {
    text-align: initial;
  }

  .home__social {
    justify-content: initial;
  }

  .home__blob,
  .about__blob {
    width: 400px;
  }

  .about__data {
    order: 1;
  }

  .services__container,
  .projects__container {
    grid-template-columns: repeat(2, 352px);
  }
}

@media screen and (min-width: 1023px) {
  .page-section {
    padding-block: 7rem 2rem;
  }

  .section__subtitle {
    font-size: var(--font-size-normal);
  }

  .page-header__nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .main-nav__close,
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .main-nav__menu {
    width: initial;
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 455px 550px;
    column-gap: 7rem;
    padding-block: 2rem 3rem;
  }

  .home__blob {
    width: 550px;
  }

  .home__content {
    row-gap: 4.5rem;
  }

  .home__description {
    margin-block: 1.5rem 2.5rem;
  }

  .home__social {
    column-gap: 1.5rem;
  }

  .about__container {
    grid-template-columns: 550px 460px;
    column-gap: 4.5rem;
    padding-bottom: 1rem;
  }

  .about__blob {
    width: 550px;
  }

  .about__description {
    margin-bottom: 3rem;
  }

  .skills__container {
    grid-template-columns: 340px 425px;
    column-gap: 10rem;
    padding-bottom: 4rem;
  }

  .skills__description {
    margin-bottom: 3rem;
  }

  .skills__content {
    column-gap: 8rem;
  }

  .skills__group {
    row-gap: 1.5rem;
  }

  .skills__item {
    font-size: var(--font-size-h3);
  }
}